.page-breadcrumb {
    background: #fff;
    padding: 20px 30px;
    margin: 0 15px;
    box-shadow: 0 7px 30px #717a831c!important;
    border-radius: 20px!important;
    box-sizing: border-box;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

    .heading{
        font-size: 18px;
    }

    .breadcrumb {
        padding: 0;
        margin: 0;
        background: transparent;
        
        ul {
            display: flex;
            margin: 0;

            .breadcrumb-item {
                list-style: none;
                font-size: 14px;

                &.active{
                    color: #99abb4;
                }

                a {
                    padding: 8px 8px 8px 0;
                    color: #1e88e5;
                }
            }

            .breadcrumb-item+.breadcrumb-item:before {
                content: " \e649";
                font-family: themify;
                color: #99abb4;
                font-size: 11px;
                padding-right: 0.5rem;
            }
        }
    }
}