<div class="chat-panel">
  <div class="chat-popup" *ngIf="chatPopUp" [@myAnimation]>
    <mat-toolbar color="accent" class="chat-heading">
      <div class="bot-aveter">
        <img src="https://aiexpo.s3.amazonaws.com/ui/bot.png">
      </div>
      Bot

      <button mat-icon-button class="close-chat" (click)="close()">
        <mat-icon>expand_more</mat-icon>
      </button>

    </mat-toolbar>

    <div class="chat-box">
      <ng-container *ngFor="let msg of messages">
        <div class="message" [ngClass]="{ 'from': msg.sentBy === 'bot', 'to':   msg.sentBy === 'user' }">
          <div>
            <span class="message-text">{{ msg.content }}</span>
          </div>
          <span class="message-time">{{ msg.time }}</span>
        </div>
      </ng-container>
    </div>

    <div class="chat-area">
      <mat-form-field class="example-full-width" appearance="fill">
        <textarea matInput placeholder="Enter your answer..." [(ngModel)]="message" (keyup.enter)="sendMessage(message)"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="chat-button">
    <button mat-fab color="primary" class="image-fab-btn" (click)="display()">
      <div class="bot-image">
        <img src="https://aiexpo.s3.amazonaws.com/ui/bot.png">
      </div>
    </button>
  </div>
</div>