.chat-panel {
    position: fixed;
    bottom: 50px;
    right: 50px;

    .chat-popup {
        height: 450px;
        width: 320px;
        background: #fff;
        box-shadow: 1px 0px 10px rgb(0 0 0 / 30%);
        box-sizing: border-box;

        .bot-aveter {
            height: 50px;
            border-radius: 50px;
            width: 50px;
            overflow: hidden;
            padding: 5px;
            background: #fff;
            margin-right: 8px;
            
            img{
                width: 40px;
            }
        }

        .chat-box {
            height: 310px;
            padding: 10px 15px;
            overflow-y: scroll;
        }
    }

    .chat-button {
        float: left;
        width: 100%;
        margin-top: 10px;

        button {
            float: right;
        }
    }

    .bot-image {
        height: 56px;
        border-radius: 50px;
        overflow: hidden;

        img {
            width: 56px;
            height: 56px;
        }
    }
}

.message {
    > div {
        float: left;
        width: 100%;
    }
    .message-text {
        border-radius: 20px;
        padding: 15px 20px;
        position: relative;
        font-size: 14px;
        display: inline-block;
        min-width: 20%;
    }

    .message-time {
        display: block;
        font-size: 12px;
        padding-top: 4px;
        color: #ccc;
    }

    &.to {
        .message-text {
            background-color: #2095FE;
            color: #fff;
            margin-left: 25%;
            text-align: right;
            float: right;
        }
        .message-time{
            text-align: right;
            padding-right: 20px;
        }
    }

    &.from {
        .message-text {
            background-color: #E5E4E9;
            color: #363636;
            margin-right: 25%;
        }
        .message-time{
            text-align: left;
            padding-left: 20px;
        }
    }
}


.message.to+.message.to,
.message.from+.message.from {
    margin-top: -16px;
}

.header {
    text-align: center;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .footer {
        padding-left: 54rem;
        padding-right: 54rem;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 767.98px) {
    .input-btns {
        position: relative;
        width: 100%;
        padding: 12px;
    }

    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    textarea {
        font-size: 24px;
    }

    .message {
        font-size: 20px;
    }
}

.msg-scroll {
    overflow-y: auto;
    max-height: 410px;
}

.input-btns {
    position: relative;
}

textarea {
    margin-bottom: 0px;
}

.header {
    position: relative;
    z-index: 1;
    background-color: #9b4dca;
    color: #fff;
}