<div>
    <app-breadcrumb [heading]="pageName"></app-breadcrumb>

    <!-- Cards -->
    <div fxLayout="row wrap" fxLayoutGap="grid" class="container">
        <div fxFlex.md="50%" fxFlex.lg="33%" fxFlex.xl="33%" fxFlex.sm="50%" *ngFor="let proj of project">
            <mat-card>
                <mat-card-header class="text-white" [ngClass]="proj.theme">
                    <mat-card-title>{{ proj.name }}</mat-card-title>
                    <a class="text-white" (click)="edit(proj._id, proj.name, proj.description)">
                        <i-feather name="edit" class="feather-base"></i-feather>
                    </a>
                </mat-card-header>
                <mat-card-content>
                    <div class="content">
                        <div class="lh-lg" [innerHTML]="proj.description"></div>
                    </div>
                    <div class="see-more">
                        <a class="text-primary" (click)="seeMore(proj.name, proj.description)">See More</a>
                    </div>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <a mat-button color="primary">Analytics</a>
                    <a mat-button color="accent">Predict</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>