<div class="login-register">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form>
                    <div class="text-center">
                        <h4>Login</h4>
                    </div>
                    <div>
                        <mat-form-field class="w-100 fs-16" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" placeholder="Enter your Email" name="email" [(ngModel)]="userData.email">
                        </mat-form-field>

                        <mat-form-field class="w-100 fs-16" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="Enter your Password" name="password" [(ngModel)]="userData.password">
                        </mat-form-field>

                        <section class="fs-16 mb-32" fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-checkbox color="primary" [checked]="checked" class="d-block">Remember me</mat-checkbox>
                            <a href="#" class="text-info">Forgot Password</a>
                        </section>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center">
                        <button mat-raised-button color="accent" (click)="login(userData)">Login</button>
                    </div>

                    <div class="text-center mt-20">
                        <span>Don't have an account? <a [routerLink]="['/signup']" class="text-info">Sign Up</a></span>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>