<div>
    <app-breadcrumb [heading]="pageName"></app-breadcrumb>

    <!-- Cards -->
    <div fxLayout="row wrap" fxLayoutGap="grid" class="container">
        <div fxFlex.md="50%" fxFlex.lg="33%" fxFlex.xl="33%" fxFlex.sm="50%" *ngFor="let prod of product">
            <mat-card class="product">
                <div class="product-image">
                    <img [src]="prod.image" alt="">
                </div>
                <mat-card-content>
                    <div>
                        <p class="fs-18 lh-lg fw-medium">
                            {{ prod.name }}
                        </p>
                        <!-- <p class="op-7">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p> -->

                        <button mat-raised-button color="primary" (click)="chat.triggerCheckPrice(prod.id)">Check Price</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <app-chat #chat></app-chat>

</div>