/* You can add global styles to this file, and also import other style files */

@import './assets/styles/variable.scss';

@import './assets/styles/spinner';
@import './assets/styles/app';
@import './assets/styles/header';
@import './assets/styles/pages';
@import './assets/styles/sidebar';
@import './assets/styles/responsive';

@import './assets/styles/icons/material-design-iconic-font/css/materialdesignicons.min.css';
@import "./assets/styles/icons/material-design-iconic-font/css/material-design-iconic-font.css";
@import "./assets/styles/icons/themify-icons/themify-icons.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// ::-webkit-scrollbar {
//   width: 6px;
// }

// /* Track */

// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */

// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */

// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }